/* =========================================================================
   STYLE CSS - SUNNYSIDE AGENCY 
   Starting fresh - Issue by Issue
   ========================================================================= */

:root {
  --color-soft-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  --color-dark-desat-cyan: hsl(167, 40%, 24%);
  --color-dark-blue: hsl(198, 62%, 26%);

  --color-very-dark-blue: hsl(212, 27%, 19%);
  --color-very-dark-gray-blue: hsl(213, 9%, 39%);
  --color-dark-gray-blue: hsl(232, 10%, 55%);
  --color-gray-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);

  --font-base: 'Barlow', sans-serif;
  --font-headings: 'Fraunces', serif;
}
